<ul class="nav nav-tabs">
    <li class=""><a aria-expanded="false" href="#/heatmap" data-toggle="tab">Heatmap & Cluster</a></li>
    <li class=""><a aria-expanded="false" href="#/pca" data-toggle="tab">PCA</a></li>
    <li class="active"><a aria-expanded="true" href="#/survival" data-toggle="tab">Survival</a></li>
    <li class=""><a aria-expanded="false" href="#/coexpression" data-toggle="tab">Co-Expression</a></li>
    <li class=""><a aria-expanded="false" href="#/ontology" data-toggle="tab">Gene Ontology</a></li>
    <li class=""><a aria-expanded="false" href="#/pathway" data-toggle="tab">Pathway</a></li>
    <li class=""><a aria-expanded="false" href="#/network" data-toggle="tab">Network</a></li>
    <li class=""><a aria-expanded="false" href="#/mutation" data-toggle="tab">Mutation</a></li>
    <li class=""><a aria-expanded="false" href="#/drug" data-toggle="tab">Drug</a></li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active in" id="heatmap">
        <canvas id='survivalCanvas' width='540' height='540'></canvas>
    </div>
</div>